* {
	font-family: "Audiowide", sans-serif;
}

body {
	/* background-image : linear-gradient(to bottom right, cyan, blue); */
	background: rgb(0 0 0/ 5%);
	height: 97.8vh;
	background-repeat: no-repeat;
	display: grid;
	justify-content: space-evenly;
	grid-auto-flow: column;
	align-items: start;
}

.container {
	width: 45vw;
	height: max-content;
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
	margin-top: 10vh;
	border-radius: 1vh;
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container-header {
	padding: 2vh 2vw;
}

.table {
	width: 45vw;
	background: white;
	text-align: left;
}

tbody {
	max-height: 45vh;
	overflow: auto;
}

.table td, th {
	padding: 0.5vh 0.5vw;
	box-shadow: 0 0 5px rgb(0 0 0/ 15%);
	font-family: serif;
	font-size: 18px;
}

.button-div {
	display: grid;
	justify-content: end;
	justify-items: stretch;
	grid-auto-flow: column;
	margin: 0.5vw;
}

.button-div, .logout-btn {
	padding: 1vh;
	background: rgb(0 0 0/ 15%);
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: small;
}

.logout-btn {
	position: absolute;
	right: 3vh;
	top: 3vh;
}

.logout-btn a {
	text-decoration: none;
	color: black;
}